/****** Object:  Table [dbo].[Course]    Script Date: 10/19/2016 8:07:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Credits] [int] NOT NULL,
	[DepartmentID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Course] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF)
)

GO
/****** Object:  Table [dbo].[CourseInstructor]    Script Date: 10/19/2016 8:07:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseInstructor](
	[Id] [uniqueidentifier] NOT NULL,
	[CourseID] [uniqueidentifier] NOT NULL,
	[InstructorID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_CourseInstructor] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF)
)

GO
/****** Object:  Table [dbo].[Department]    Script Date: 10/19/2016 8:07:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Budget] [decimal](18, 2) NOT NULL,
	[StartDate] [datetime] NULL,
	[InstructorID] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Department] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF)
)

GO
/****** Object:  Table [dbo].[Enrollment]    Script Date: 10/19/2016 8:07:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enrollment](
	[Id] [uniqueidentifier] NOT NULL,
	[CourseID] [uniqueidentifier] NOT NULL,
	[StudentID] [uniqueidentifier] NOT NULL,
	[Grade] [int] NULL,
 CONSTRAINT [PK_Enrollment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF)
)

GO
/****** Object:  Table [dbo].[Migration]    Script Date: 10/19/2016 8:07:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Migration](
	[Id] [uniqueidentifier] NOT NULL,
	[Script] [varchar](250) NOT NULL,
	[ExecutedOn] [datetime] NOT NULL,
 CONSTRAINT [PK_Migration] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF)
)

GO
/****** Object:  Table [dbo].[OfficeAssignment]    Script Date: 10/19/2016 8:07:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OfficeAssignment](
	[Id] [uniqueidentifier] NOT NULL,
	[InstructorID] [uniqueidentifier] NOT NULL,
	[Location] [nvarchar](50) NULL,
 CONSTRAINT [PK_OfficeAssignment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF)
)

GO
/****** Object:  Table [dbo].[Person]    Script Date: 10/19/2016 8:07:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Person](
	[Id] [uniqueidentifier] NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[HireDate] [datetime] NULL,
	[EnrollmentDate] [datetime] NULL,
	[Discriminator] [nvarchar](128) NOT NULL CONSTRAINT [DF__Person__Discrimi__108B795B]  DEFAULT ('Instructor'),
 CONSTRAINT [PK_Person] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF)
)

GO
/****** Object:  View [dbo].[Instructor]    Script Date: 10/19/2016 8:07:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[Instructor]
AS
SELECT        Id, LastName, FirstName, HireDate, Discriminator
FROM            dbo.Person
WHERE Discriminator = 'Instructor'

GO
/****** Object:  View [dbo].[Student]    Script Date: 10/19/2016 8:07:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[Student]
AS
SELECT        Id, LastName, FirstName, EnrollmentDate, Discriminator
FROM            dbo.Person
WHERE Discriminator = 'Student'

GO
INSERT [dbo].[Course] ([Id], [Title], [Credits], [DepartmentID]) VALUES (N'b5548778-e3d3-4bba-8358-0076ab538536', N'Quantum Mechanics I', 10, N'f258a96c-cfcc-4413-8dca-19561e504c0f')
GO
INSERT [dbo].[Course] ([Id], [Title], [Credits], [DepartmentID]) VALUES (N'2533fc2d-ee99-4a17-9a03-0927e7d9a837', N'Chemistry 1', 10, N'd8a7a3bb-50cf-4b82-9a5d-8149c58bfd10')
GO
INSERT [dbo].[Course] ([Id], [Title], [Credits], [DepartmentID]) VALUES (N'7f1541b9-4534-42d3-b45e-103e1f68f0cc', N'Calculos 101', 15, N'1c2d7154-3f2c-4720-b04c-1ea5c7dbc57d')
GO
INSERT [dbo].[CourseInstructor] ([Id], [CourseID], [InstructorID]) VALUES (N'dc6b1d89-8961-4f91-9be3-077dd61d5f08', N'0cdeb6ed-419f-4094-805b-5fae5ec887eb', N'5e9d9678-2556-48a4-9136-0abfe86977ec')
GO
INSERT [dbo].[CourseInstructor] ([Id], [CourseID], [InstructorID]) VALUES (N'b1b1636a-92f4-4a1b-b393-1c86fc10bd6e', N'2e013a00-220c-4802-bb62-c0e68fbc0de4', N'6d63eeb9-ecef-41a9-b869-272bb4315f00')
GO
INSERT [dbo].[CourseInstructor] ([Id], [CourseID], [InstructorID]) VALUES (N'46ce4920-b638-469a-9265-218811db9370', N'8e1e0b16-c3d4-4cd7-9233-ed5f9e5a497c', N'5e9d9678-2556-48a4-9136-0abfe86977ec')
GO
INSERT [dbo].[Department] ([Id], [Name], [Budget], [StartDate], [InstructorID]) VALUES (N'f258a96c-cfcc-4413-8dca-19561e504c0f', N'Physics', CAST(2000000.00 AS Decimal(18, 2)), CAST(N'2015-12-04 06:00:00.000' AS DateTime), N'ab20b675-44dd-4ea1-a6c0-564eb548bed4')
GO
INSERT [dbo].[Department] ([Id], [Name], [Budget], [StartDate], [InstructorID]) VALUES (N'1c2d7154-3f2c-4720-b04c-1ea5c7dbc57d', N'Mathematics', CAST(10000000.00 AS Decimal(18, 2)), CAST(N'1970-01-01 00:00:01.970' AS DateTime), N'ab20b675-44dd-4ea1-a6c0-564eb548bed4')
GO
INSERT [dbo].[Department] ([Id], [Name], [Budget], [StartDate], [InstructorID]) VALUES (N'39bcdf72-0d6b-45db-8603-5e545f545d27', N'Computer Science', CAST(750000.00 AS Decimal(18, 2)), CAST(N'1969-12-31 18:00:00.070' AS DateTime), N'f12bd457-f718-40d9-b920-20c1eabe9a89')
GO
INSERT [dbo].[Enrollment] ([Id], [CourseID], [StudentID], [Grade]) VALUES (N'770a6694-4edb-4ef7-b642-1c2eb99ed437', N'0cdeb6ed-419f-4094-805b-5fae5ec887eb', N'9c93e69f-76e2-4989-8c4c-49a73cc7c09f', NULL)
GO
INSERT [dbo].[Enrollment] ([Id], [CourseID], [StudentID], [Grade]) VALUES (N'c66a2f25-4eac-45ab-9ed2-25b0194103e7', N'2533fc2d-ee99-4a17-9a03-0927e7d9a837', N'6144993a-c7c5-4c5d-b99f-2d5d8ca57884', 1)
GO
INSERT [dbo].[Enrollment] ([Id], [CourseID], [StudentID], [Grade]) VALUES (N'452ecb8d-c253-4727-bfaf-8544ef570d76', N'7f1541b9-4534-42d3-b45e-103e1f68f0cc', N'6144993a-c7c5-4c5d-b99f-2d5d8ca57884', 1)
GO
INSERT [dbo].[Migration] ([Id], [Script], [ExecutedOn]) VALUES (N'0fbd84db-c7cb-4163-bcb0-de7436663bb1', N'initializedatabase.sql', CAST(N'2015-12-04 10:59:49.937' AS DateTime))
GO
INSERT [dbo].[OfficeAssignment] ([Id], [InstructorID], [Location]) VALUES (N'fc29ab6e-5979-434a-9d43-1029cab9eb3e', N'ab20b675-44dd-4ea1-a6c0-564eb548bed4', NULL)
GO
INSERT [dbo].[OfficeAssignment] ([Id], [InstructorID], [Location]) VALUES (N'32dcdb68-5ca7-46e8-a47b-214b71970f69', N'66394f0a-ff28-437b-afbc-22dc4d7ffc80', NULL)
GO
INSERT [dbo].[OfficeAssignment] ([Id], [InstructorID], [Location]) VALUES (N'670c5651-ef0f-4ba1-88d3-4214d66ada93', N'f12bd457-f718-40d9-b920-20c1eabe9a89', NULL)
GO
INSERT [dbo].[Person] ([Id], [LastName], [FirstName], [HireDate], [EnrollmentDate], [Discriminator]) VALUES (N'5e9d9678-2556-48a4-9136-0abfe86977ec', N'Babbage', N'Charles', CAST(N'1970-01-02 00:00:00.000' AS DateTime), NULL, N'Instructor')
GO
INSERT [dbo].[Person] ([Id], [LastName], [FirstName], [HireDate], [EnrollmentDate], [Discriminator]) VALUES (N'f12bd457-f718-40d9-b920-20c1eabe9a89', N'Touring', N'Alan', CAST(N'2015-08-12 11:35:30.000' AS DateTime), CAST(N'2015-08-25 11:35:30.673' AS DateTime), N'Instructor')
GO
INSERT [dbo].[Person] ([Id], [LastName], [FirstName], [HireDate], [EnrollmentDate], [Discriminator]) VALUES (N'66394f0a-ff28-437b-afbc-22dc4d7ffc80', N'Einstein', N'Albert', CAST(N'1970-01-01 00:00:00.003' AS DateTime), NULL, N'Instructor')
GO
ALTER TABLE [dbo].[CourseInstructor]  WITH CHECK ADD  CONSTRAINT [FK_CourseInstructor_Course] FOREIGN KEY([CourseID])
REFERENCES [dbo].[Course] ([Id])
GO
ALTER TABLE [dbo].[CourseInstructor] CHECK CONSTRAINT [FK_CourseInstructor_Course]
GO
ALTER TABLE [dbo].[CourseInstructor]  WITH CHECK ADD  CONSTRAINT [FK_CourseInstructor_Person] FOREIGN KEY([InstructorID])
REFERENCES [dbo].[Person] ([Id])
GO
ALTER TABLE [dbo].[CourseInstructor] CHECK CONSTRAINT [FK_CourseInstructor_Person]
GO
ALTER TABLE [dbo].[Department]  WITH CHECK ADD  CONSTRAINT [FK_Department_Person] FOREIGN KEY([InstructorID])
REFERENCES [dbo].[Person] ([Id])
GO
ALTER TABLE [dbo].[Department] CHECK CONSTRAINT [FK_Department_Person]
GO
ALTER TABLE [dbo].[Enrollment]  WITH CHECK ADD  CONSTRAINT [FK_Enrollment_Course] FOREIGN KEY([CourseID])
REFERENCES [dbo].[Course] ([Id])
GO
ALTER TABLE [dbo].[Enrollment] CHECK CONSTRAINT [FK_Enrollment_Course]
GO
ALTER TABLE [dbo].[Enrollment]  WITH CHECK ADD  CONSTRAINT [FK_Enrollment_Person] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Person] ([Id])
GO
ALTER TABLE [dbo].[Enrollment] CHECK CONSTRAINT [FK_Enrollment_Person]
GO
ALTER TABLE [dbo].[OfficeAssignment]  WITH CHECK ADD  CONSTRAINT [FK_OfficeAssignment_Person] FOREIGN KEY([InstructorID])
REFERENCES [dbo].[Person] ([Id])
GO
ALTER TABLE [dbo].[OfficeAssignment] CHECK CONSTRAINT [FK_OfficeAssignment_Person]
GO
